.library-course {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: cornflowerblue;

    &_title-check {
        grid-row: 1/2;
        display: flex;
    }

    &_description{
        grid-row: 2/3;
    }

    &_action {
        grid-row: 1/2;
    }
    
    &_arrow {
        grid-row: 1/2;
    }
}